.deposit .container .header_mr {
  margin-bottom: 1.5rem;
}
.deposit .container .header_mr .main-header {
  text-align: center;
  display: block;
  margin-top: 2rem;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  padding: 1rem;
}
.deposit .container .notification_wrapper {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.5rem;
  margin-top: 1.5rem;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}
.deposit .container .notification_wrapper .notification_left {
  padding-right: 0.7rem;
}
.deposit .container .notification_wrapper .notification_close i.fa-solid.fa-circle-xmark.header {
  margin: 0;
  margin-left: 1rem;
}
.deposit .container .notification_wrapper .notification_right {
  overflow: hidden;
}
.deposit .container .notification_wrapper .notification_right h2.title {
  width: 150rem;
  animation: notification_anime 10s linear infinite;
}
.deposit .container .deposit_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
}
.deposit .container .deposit_wrapper .error {
  width: 100%;
  align-items: start;
  color: rgb(218, 16, 16);
}
.deposit .container .deposit_wrapper span {
  width: 100%;
}
.deposit .container .deposit_wrapper span .box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 1rem;
}
.deposit .container .deposit_wrapper span .box i {
  background: #363b41;
  padding: 1.4rem;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.deposit .container .deposit_wrapper span .box i.fa-solid.copy.title {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
.deposit .container .deposit_wrapper span .box input, .deposit .container .deposit_wrapper span .box button {
  width: 100%;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border: none;
  padding: 1rem;
  outline: none;
  color: var(--primary);
  background: #3b4148;
}
.deposit .container .deposit_wrapper span .box .submit {
  background: #d44179;
  padding: 1rem;
  border-radius: var(--border-radius);
  color: white;
  text-align: center;
  font-weight: bold;
}
.deposit .container .deposit_wrapper span .method_wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.deposit .container .deposit_wrapper span .method_wrapper .item {
  position: relative;
}
.deposit .container .deposit_wrapper span .method_wrapper .item input {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
}
.deposit .container .deposit_wrapper span .method_wrapper .item img {
  height: 10rem;
  width: 10rem;
  background: white;
  border-radius: var(--border-radius);
}
.deposit .container .deposit_wrapper span .method_wrapper .item i.fa-solid.fa-square-check.main-header {
  position: absolute;
  left: 0;
  top: 0;
  color: var(--primary);
  margin: 0 !important;
  padding: 0 !important;
  border-radius: var(--border-radius) 0 var(--border-radius) 0;
  display: none;
}
.deposit .container .deposit_wrapper span .method_wrapper .active i.fa-solid.fa-square-check.main-header {
  display: block;
}
.deposit .container .deposit_wrapper span .note .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
}
.deposit .container .deposit_wrapper span .note img {
  width: 100%;
  border-radius: var(--border-radius);
}
.deposit .container .deposit_wrapper .box:nth-child(1) {
  margin-top: 0 !important;
}
.deposit .container .deposit_wrapper .box_footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.deposit .container .deposit_wrapper .box_footer i {
  background: none;
}

@keyframes notification_anime {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(-150rem);
  }
}/*# sourceMappingURL=deposit.css.map */