#History{
    .container{
        // header_mr st 
        .header_mr{
            margin-bottom: 1.5rem;
            .main-header{
                text-align: center;
                display: block;
                margin-top: 2rem;
                backdrop-filter: blur(20px);
                border-radius: var(--border-radius);
                border: 1px solid var(--border-color);
                padding: 1rem;
            }
        }
        // header_mr end 

        // body_mr st 
        .body_mr{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            width: 100%;
            backdrop-filter: blur(20px);
            border-radius: var(--border-radius);
            border: 1px solid var(--border-color);
            padding: 1.5rem;
            .items{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                backdrop-filter: blur(20px);
                border-radius: var(--border-radius);
                border: 1px solid var(--border-color);
                padding: 1rem;
            }
            .active{
                background: var(--primary);
                .header{
                    color: white;
                }
            }
        }
        // body_mr end 

        // footer_mr st 
        .footer_mr{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1.5rem;
            margin-top: 2.5rem;
            .items{
                backdrop-filter: blur(20px);
                border-radius: var(--border-radius);
                border: 1px solid var(--border-color);
                padding: 1rem;
                img{
                    width: 100%;
                    border-radius: var(--border-radius);
                }
            }
        }
        // footer_mr end 
    }
 }
