.accounts .container {
  position: relative;
}
.accounts .container .header_mr {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
}
.accounts .container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.accounts .container form .error {
  width: 90%;
  align-items: start;
  color: rgb(218, 16, 16);
}
.accounts .container form .box {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 1rem;
}
.accounts .container form .box i {
  background: #363b41;
  padding: 1.4rem;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.accounts .container form .box input {
  width: 100%;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border: none;
  padding: 1rem;
  outline: none;
  color: var(--primary);
  background: #3b4148;
}
.accounts .container form .box .submit {
  background: #d44179;
  padding: 1rem;
  border-radius: var(--border-radius);
  color: white;
  text-align: center;
  font-weight: bold;
}
.accounts .container form .box:nth-child(1) {
  margin-top: 0 !important;
}
.accounts .container form .box_footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.accounts .container form .box_footer i {
  background: none;
}
.accounts .container .camera {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  height: 100vh;
}
.accounts .container .camera video {
  width: 35rem;
  height: 35rem;
}
.accounts .container .camera #canvas {
  display: none;
}
.accounts .container .idcard .id-card-holder {
  width: 225px;
  padding: 4px;
  margin: 0 auto;
  background-color: var(--primary);
  border-radius: 5px;
  position: relative;
}
.accounts .container .idcard .id-card-holder:after {
  content: "";
  width: 7px;
  display: block;
  background-color: #0a0a0a;
  height: 100px;
  position: absolute;
  top: 105px;
  border-radius: 0 5px 5px 0;
}
.accounts .container .idcard .id-card-holder:before {
  content: "";
  width: 7px;
  display: block;
  background-color: #0a0a0a;
  height: 100px;
  position: absolute;
  top: 105px;
  left: 214px;
  border-radius: 5px 0 0 5px;
}
.accounts .container .idcard .id-card {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 1.5px 0px #b9b9b9;
}
.accounts .container .idcard .id-card img {
  margin: 0 auto;
}
.accounts .container .idcard .header img {
  width: 10rem;
  height: 10rem;
  margin-top: 1.5rem;
  border-radius: 7px;
}
.accounts .container .idcard .photo img {
  width: 80px;
  margin-top: 15px;
}
.accounts .container .idcard h2 {
  font-size: 2rem;
  margin: 5px 0;
  color: var(--primary);
}
.accounts .container .idcard h3 {
  font-size: 1.5rem;
  margin: 2.5px 0;
  font-weight: 300;
  color: black;
}
.accounts .container .idcard .qr-code img {
  width: 50px;
}
.accounts .container .idcard p {
  font-size: 1rem;
  margin: 2px;
  color: black;
}
.accounts .container .idcard .id-card-hook {
  background-color: var(--primary);
  width: 70px;
  margin: 0 auto;
  height: 15px;
  border-radius: 5px 5px 0 0;
}
.accounts .container .idcard .id-card-hook:after {
  content: "";
  background-color: white;
  width: 47px;
  height: 6px;
  display: block;
  margin: 0px auto;
  position: relative;
  top: 6px;
  border-radius: 4px;
}
.accounts .container .idcard .id-card-tag-strip {
  width: 45px;
  height: 40px;
  background-color: #d9300f;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
  top: 9px;
  z-index: 1;
  border: 1px solid #a11a00;
}
.accounts .container .idcard .id-card-tag-strip:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #a11a00;
  position: relative;
  top: 10px;
}
.accounts .container .idcard .id-card-tag {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid #d9300f;
  margin: -10px auto -30px auto;
}
.accounts .container .idcard .id-card-tag:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #041246;
  margin: -10px auto -30px auto;
  position: relative;
  top: -130px;
  left: -50px;
}/*# sourceMappingURL=login.css.map */