* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none !important;
    color: #fff;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
    list-style: none !important;
    margin: 0px !important;
}

/* footer */

.logo_container {
    height: 70px;
    flex: 0 0 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo_container img {
    max-width: 90%;
    max-height: 90%;
}

.footer {
    background: none;
    padding: 20px 0;
}

.footer hr {
    border-color: #fff2;
}

.fotr_container {}

.ftr_tops {
    /*
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));*/
}

.popular_posts {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.post_box {
    display: flex;
    grid-gap: 10px;
    align-items: center;
}

.post_box svg {
    height: 50px;
    width: 50px;
    background: #222530;
    border-radius: 5px;
    padding: 10px;
    stroke: #ffffff;
    flex: 0 0 50px;
}

.stats_number {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
}

.post_box_content p {
    font-size: 13px;
    padding-top: 6px;
    color: #ffffffdb;
}

.ftr_heading {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 20px !important;
}

.ftr_links_wrpr {
    list-style: none;
    display: flex;
    max-height: 180px;
    overflow: auto;
    align-items: flex-start;
    grid-gap: 20px;
    flex-direction: column;
}

.ftr_links_wrpr li {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.ftr_links_wrpr a {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.2s ease;
    letter-spacing: 0.5px;
}

.ftr_links_wrpr a svg {
    height: 16px;
    transition: 0.2s ease;
    width: 16px;
    stroke: #fff;
}

.ftr_links_wrpr a:hover,
.ftr_links_wrpr a:hover svg {
    color: #ef2330;
    stroke: #ef2330;
}

.top_offers a {
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 5px;
}

.top_offers .offers {
    font-size: 13px;
    color: #fff9;
}

.top_offers .name {
    font-size: 15px;
}

.ftr_center {
    display: flex;
    align-items: center;
    grid-gap: 20px;
}

.ftr_logo {
    justify-content: flex-start;
    filter: invert(0.5);
    height: 80px;
    flex: 0 0 240px;
    width: 240px;
}

.ftr_profile {
    flex: 1;
    display: flex;
    grid-gap: 20px;
    align-items: center;
    padding: 10px;
    margin-top: -30px;
    backdrop-filter: blur(20px);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.ftr_dis {
    font-size: 14px;
    color: #c9c9c9;
    line-height: 1.5;
}
.subs_container {
    backdrop-filter: blur(20px);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    border-radius: 5px;
    padding: 15px;
    align-self: flex-start;
    box-shadow: 0 0 10px #0005;
}

.dis_text {
    font-size: 13px;
    color: #fff9;
    line-height: 1.5;
    padding-bottom: 10px;
}

.subs_area {
    display: flex;
    height: 35px;
    overflow: hidden;
    border-radius: 3px;
    max-width: 100%;
}

.subs_area input {
    max-width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    border: 1px solid #fff2;
    flex: 1;
    color: #fff9;
    min-width: 10px;
    border-right: 0;
    padding: 0 10px;
    backdrop-filter: blur(20px);
    background: none;
    outline: none;
}

.subs_area input:focus {
    border-color: #57b252;
}

.subs_area button {
    border: 0;
    outline: 0;
    background: #57b252;
    flex: 0 0 auto;
    color: #fff;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
}

.nav_links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    grid-gap: 30px;
}

.nav_links .subs_container{
    grid-column: 1/-1;
}

.ftr_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 10px;
}

.ftr_bottom p {
    font-size: 13px;
    text-transform: capitalize;
    color: #fff9;
}

.ftr_bottom p a {
    font-weight: 500;
    text-decoration: underline;
}

@media (min-width: 992px) {
    .container {
        width: 970px !important;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px !important;
    }
}

@media (max-width: 1400px) {
    .container {
        width: 90% !important;
    }
}

@media (min-width: 1300px) {
    .container {
        width: 1300px !important;
    }
}

@media (max-width: 992px) {
    .container {
        width: 100% !important;
    }
}